.home{
  &__section{
    padding-top: 0;
  }
  &__block01{
    padding: 10px 0;
    @include media-breakpoint-up('m'){
      padding: 20px 0;
    }
    &__subnav{
      margin: 0;
      >li{
        >a{
          text-transform: inherit !important;
          @extend .fz-14;
          color: #6D6E71;
          font-family: $font-RobotoCondensed-Regular;
        }
        &.uk-active{
          >a{
            color: #ED1C24;
          }
        }
      }
    }
  }
  &__blockSlider{
    margin-left: -15px;
    margin-right: -15px;
    @include media-breakpoint-up('m'){
      margin-left: 0;
      margin-right: 0;
    }
  }
  &__block02{
    &__icon{
      $x:35px;
      width: #{$x};
      height: #{$x};
      @include media-breakpoint-up('m'){
        $x:40px;
        width: #{$x};
        height: #{$x};
      }
      display: flex;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
    &__txt1{
      @extend .fz-14;
      line-height: (15.6/13);
      color: #000000;
      @extend .line-clamp-1;
    }
    &__txt2{
      @extend .fz-11;
      line-height: (12/10);
      color: #6D6E71;
      @extend .line-clamp-1;
    }
  }
  &__blockBanner{
    margin-left: -15px;
    margin-right: -15px;
    &::-webkit-scrollbar{
      display: none;
    }
    @include media-breakpoint-up('m'){
      margin-left: 0;
      margin-right: 0;
    }
    &__grid{
      width: max-content;
    }
    &__column{
      &:first-child{
        margin-left: 15px;
        @include media-breakpoint-up('m'){
          margin-left: 0;
        }
      }
      &:last-child{
        margin-right: 15px;
        @include media-breakpoint-up('m'){
          margin-right: 0;
        }
      }
    }
    &__img{
      width: 300px;
      @include media-breakpoint-up('m'){
        width: 100%;
      }
    }
  }
  &__column{
    &.uk-grid-margin{
      @include media-breakpoint-up('m'){
        margin-top: 20px !important;
      }
    }
  }
  &__box1{
    &__icon{
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 60 60'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23bcbec0;%7D.cls-2%7Bfill:%23fff;%7D%3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Main'%3E%3Cpath class='cls-1' d='M30,60h0A30,30,0,0,1,0,30H0A30,30,0,0,1,30,0h0A30,30,0,0,1,60,30h0A30,30,0,0,1,30,60Z'/%3E%3Cpolygon class='cls-2' points='22.69 43.45 22.69 16.55 46.34 30 22.69 43.45'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
      .home__box1:hover &{
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 60 60'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23bcbec0;%7D.cls-2%7Bfill:%236D8E0A;%7D%3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Main'%3E%3Cpath class='cls-1' d='M30,60h0A30,30,0,0,1,0,30H0A30,30,0,0,1,30,0h0A30,30,0,0,1,60,30h0A30,30,0,0,1,30,60Z'/%3E%3Cpolygon class='cls-2' points='22.69 43.45 22.69 16.55 46.34 30 22.69 43.45'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      }
    }
    &__link{
      @extend .fz-12;
      font-family: $font-RobotoCondensed-Regular;
      color: #939598;
      &:hover{
        color: #6D8E0A;
      }
      .home__box1:hover &{
        color: #6D8E0A;
      }
    }
  }
  &__card{
    border: 1px solid #201D1D;
    //border: 1px solid transparent;
    @include media-breakpoint-up('m'){
      border: 1px solid transparent;
    }
    &:hover{
      border-color: #201D1D;
    }
    box-sizing: border-box;
    //min-height: 400px;
    $x:3px;
    padding: #{$x};
    &__img{
      background-color: #D1D3D4;
    }
    &__title{
      @extend .fz-14;
      font-family: $font-RobotoCondensed-Regular;
      color: #231F20;
      a{
        color: #231F20;
      }
    }
    &__item{
      &:nth-child(n+2){
        margin-top: 5px;
      }
    }
    &__price{
      @extend .fz-14;
      line-height: (16.8/14);
      font-family: $font-RobotoCondensed-Regular;
      &--new{
        color: #6D8E0A;
      }
      &--old{
        color: #A7A9AC;
      }
    }
    &__boxRate{
      opacity: 1;
      .home__card:hover &{
        @include media-breakpoint-up('m'){
          opacity: 0;
        }
      }
      &__star{
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10.08 9.59'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23ccc;%7D%3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Main'%3E%3Cpolygon class='cls-1' points='5.04 0 6.24 3.65 10.08 3.66 6.99 5.93 8.16 9.59 5.04 7.35 1.93 9.59 3.1 5.93 0 3.66 3.84 3.65 5.04 0'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        &.uk-active{
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10.08 9.59'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23ffad00;%7D%3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Main'%3E%3Cpolygon class='cls-1' points='5.04 0 6.24 3.65 10.08 3.66 6.99 5.93 8.16 9.59 5.04 7.35 1.93 9.59 3.1 5.93 0 3.66 3.84 3.65 5.04 0'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        }
        $x:13px;
        width: #{$x};
        height: #{$x};
        display: inline-flex;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }
    &__addCart{
      text-transform: inherit;
      background-color: #fff;
      border-color: #6D8E0A;
      color: #6D8E0A;
      padding: 0 10px;
      @extend .fz-12;
      position: relative;
      @include media-breakpoint-up('m'){
        opacity: 0;
      }
      .home__card:hover &{
        opacity: 1;
      }
      &:hover{
        color: #FFFFFF;
        background-color: #6D8E0A;
      }
    }
  }
  &__navbar{
    border-bottom: 1px solid #9D9FA2;
    &__item{
      min-height: 40px;
      @include media-breakpoint-up('m'){
        min-height: 60px;
      }
    }
    &__title{
      @extend .fz-22;
      font-family: $font-RobotoCondensed-Bold;
      color: #000;
      &:hover{
        color: #6D8E0A;
      }
    }
    .uk-navbar-nav{
      >li{
        >a{
          @extend .home__navbar__item;
          text-transform: inherit;
          @extend .fz-14;
          font-family: $font-RobotoCondensed-Regular;
          color: #000;
          position: relative;
          &:before{
            content: '';
            display: block;
            position: absolute;
            left: 15px;
            right: calc(102% - 15px);
            bottom: -1px;
            height: 2px;
            background-color: currentColor;
            transition: .3s ease-in-out;
            transition-property: right;
          }
          &:hover{
            color: #6D8E0A;
            &:before{
              right: 15px;
            }
          }
        }
        &.uk-active{
          >a{
            color: #6D8E0A;
            &:before{
              right: 15px;
            }
          }
        }
      }
    }
  }
  &__item{
    &:nth-child(n+2){
      $x:20px;
      margin-top: #{$x};
      @include media-breakpoint-up('m'){
        $x:50px;
        margin-top: #{$x};
      }
    }
  }
}