.header{
  //z-index: 1001;
  position: relative;
  &__top{
    background-color: #6D8E0A;
    &__navItem{
      min-height: 50px;
    }
    &__txt1{
      line-height: (15.6/13);
      color: #ffffff;
      @extend .fz-13;
      font-family: $font-RobotoCondensed-Regular;
    }
    &__social{
      color: #ffffff;
      padding: 0 7px;
    }
    &__mt{
      margin-top: 0px;
    }
    &__icon{
      $x:30px;
      width: #{$x};
      height: #{$x};
      background: #809F2C;
      color: #ffffff;
      position: relative;
      svg{
        transform: scale(0.85);
      }
    }
    &__size1{
      @extend .fz-9;
      font-family: $font-RobotoCondensed-Regular;
      color: #ffffff;
      line-height: (7.2/6);
      a{
        color: #ffffff;
      }
    }
    &__size2{
      @extend .fz-15;
      line-height: (15.6/13);
      font-family: $font-RobotoCondensed-Bold;
      color: #ffffff;
    }
    &__divider{
      &:nth-child(n+2){
        position: relative;
        $x:15px;
        padding-left: #{$x};
        margin-left: #{$x};
        @include media-breakpoint-up('m'){
          $x:25px;
          padding-left: #{$x};
          margin-left: #{$x};
        }
        &:before{
          content: "";
          width: 1px;
          min-height: 20px;
          @include media-breakpoint-up('m'){
            min-height: 25px;
          }
          display: inline-flex;
          background-color: #809F2C;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
        }
      }
    }
  }
  &__bottom{
    background-color: #75990B;
    //min-height: 107px;
    .uk-container{
      //max-width: calc(1200px + 30px);
    }
    .uk-logo{
      img{
        width: 134px;
        @include media-breakpoint-up('xs'){
          width: 166px;
        }
      }
    }
    &__menu{
      color: #ffffff;
    }
    &__searchMb{
      padding: 10px 15px;
      margin-top: -20px;
      &__form{
        width: 100%;
      }
      .uk-search-input{
        $x:4px;
        border-radius: #{$x};
        background-color: #fff !important;
        @extend .fz-14;
        font-family: $font-RobotoCondensed-Regular;
      }
    }
    &__cart{
      position: relative;
      &:before{
        content: "";
        $x:35px;
        $y:26px;
        //$x:44px;
        //$y:33px;
        width: #{$x};
        height: #{$y};
        @include media-breakpoint-up('m'){
          $x:44px;
          $y:33px;
          width: #{$x};
          height: #{$y};
        }
        display: flex;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 34.12 25.06'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23fff;%7D%3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Main'%3E%3Cpath class='cls-1' d='M12.84,20.07a.43.43,0,0,0,.41.3H29.19a.43.43,0,0,0,.43-.43.44.44,0,0,0-.43-.44H13.56c-.6-1.84-1.14-3.63-1.71-5.52-.3-1-.61-2-.93-3.06S10.4,9.14,10,8.06c-.7-2.34-2.12-6.92-2.14-7a.42.42,0,0,0-.41-.3H6.64a1,1,0,0,0-1-.79H1A1,1,0,0,0,0,.93v.58a1,1,0,0,0,1,.94h4.7a1,1,0,0,0,1-.79h.52c.33,1.06,1.44,4.67,2,6.65h0c.35,1.07.61,1.92.87,2.84h0c.32,1,.63,2.06.93,3.06C11.59,16.14,12.19,18.11,12.84,20.07Z'/%3E%3Cpath class='cls-1' d='M33.14,4.85h-22a1,1,0,0,0-1,.93v.58a1,1,0,0,0,1,.93h.32l3.3,11.23a.43.43,0,0,0,.41.31H29.11a.43.43,0,0,0,.41-.31l3.3-11.23h.32a1,1,0,0,0,1-.93V5.78A1,1,0,0,0,33.14,4.85Z'/%3E%3Cpath class='cls-1' d='M13.24,20.54A2.26,2.26,0,1,0,15.5,22.8,2.26,2.26,0,0,0,13.24,20.54Z'/%3E%3Cpath class='cls-1' d='M29.43,20.54a2.26,2.26,0,1,0,2.25,2.26A2.26,2.26,0,0,0,29.43,20.54Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      }
      &:after{
        position: absolute;
        top: 19px;
        right: 6px;
        @include media-breakpoint-up('m'){
          top: 27px;
          right: 3px;
        }
        content: attr(data-count);
        background-color: #FFAD00;
        color: #ffffff;
        border-radius: 50%;
        $x:20px;
        width: #{$x};
        height: #{$x};
        @include media-breakpoint-up('m'){
          $x:25px;
          width: #{$x};
          height: #{$x};
        }
        display: flex;
        align-items: center;
        justify-content: center;
        @extend .fz-14;
      }
    }
    &__tracuu{
      color: #ffffff;
      display: flex;
      align-items: center;
      text-align: right;
      &:hover{
        color: #FFAD00;
      }
      &__txt{
        @extend .fz-10;
        font-family: $font-RobotoCondensed-Regular;
        line-height: (10.8/9);
      }
      &:after{
        content: "";
        //$x:23px;
        //$y:29px;
        $x:21px;
        $y:26px;
        width: #{$x};
        height: #{$y};
        @include media-breakpoint-up('m'){
          $x:26px;
          $y:33px;
          width: #{$x};
          height: #{$y};
          margin-left: 5px;
        }
        display: flex;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 21.3 28.61'%3E%3Cdefs%3E%3Cstyle%3E.cls-1,.cls-2%7Bfill:%23fff;%7D.cls-2%7Bstroke:%2375990b;stroke-miterlimit:10;%7D%3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Main'%3E%3Cpath class='cls-1' d='M19.6,3.05H1.7a1.71,1.71,0,0,0-1.55,1,1.83,1.83,0,0,0-.15.7V26.9a1.71,1.71,0,0,0,1.7,1.71H19.6a1.73,1.73,0,0,0,1.7-1.71V4.75A1.7,1.7,0,0,0,19.6,3.05Zm-2,22.82H3.72a1,1,0,0,1,0-2.05H17.58a1,1,0,0,1,0,2.05Zm0-4.26H3.72a1,1,0,0,1,0-2.05H17.58a1,1,0,0,1,0,2.05Zm0-4.26H3.72a1,1,0,0,1,0-2.05H17.58a1,1,0,0,1,0,2.05Zm0-4.26H3.72a1,1,0,0,1-.85-1,1,1,0,0,1,.85-1H17.58a1,1,0,0,1,.85,1A1,1,0,0,1,17.58,13.09Zm0-4.26H3.72a1,1,0,0,1-.85-1,1,1,0,0,1,.85-1H17.58a1,1,0,0,1,.85,1A1,1,0,0,1,17.58,8.83Z'/%3E%3Crect class='cls-2' x='4.33' y='0.5' width='12.64' height='4.29' rx='2'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }
    &__formSearch{
      $x:4px;
      &__input{
        border-radius: #{$x} 0 0 #{$x};
        @extend .fz-14;
        font-family: $font-RobotoCondensed-Regular;
        @include media-breakpoint-up('m'){
          min-width: 300px;
        }
      }
      &__btn{
        border-radius: 0 #{$x} #{$x} 0;
        background-color: #FFAD00;
        text-transform: inherit;
        padding: 0 15px;
        display: flex;
        align-items: center;
        &:hover{
          background-color: #FFAD00;
        }
        &:before{
          content: "";
          $x:20px;
          width: #{$x};
          height: #{$x};
          display: flex;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 19.65 19.65'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23fff;%7D%3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Main'%3E%3Cpath class='cls-1' d='M15,12.17a2,2,0,0,0-1.89-.5l-1-.94a6.72,6.72,0,1,0-1.38,1.38l.94,1a2,2,0,0,0,.5,1.89l4.12,4.12a2,2,0,0,0,1.39.58,2,2,0,0,0,1.39-3.35ZM3.36,10.09a4.76,4.76,0,1,1,6.73,0A4.74,4.74,0,0,1,3.36,10.09Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
          background-repeat: no-repeat;
          background-position: center;
          background-size: 100%;
          margin-right: 5px;
        }
        span{
          font-family: $font-RobotoCondensed-Bold;
          @extend .fz-14;
        }
      }
    }
    &__navItem{
      min-height: 80px;
      @include media-breakpoint-up('m'){
        min-height: 107px;
      }
    }
    &__dropdown{

    }
    &__nav{
      >li{
        >a{
          text-transform: uppercase;
          font-family: $font-RobotoCondensed-Bold;
          color: #020202;
          @extend .fz-16;
          &:hover{
            color: #75990B;
          }
        }
      }
    }
    &__subnav1{
      >li{
        position: relative;
        &:nth-child(n+2){
          border-top-style: dashed !important;
        }
        >a{
          color: #6b6b6b;
          @extend .fz-13;
          font-family: $font-RobotoCondensed-Regular;
          padding: 8px 0;
          &:hover{
            color: #75990B;
          }
        }
      }
    }
    &__subnav2{
      box-sizing: border-box;
      min-width: max-content;
      padding: 15px !important;
      background: #fff;
      color: #666;
      box-shadow: 0 5px 12px rgba(0,0,0,.15);
      border-radius: 4px;
    }
    &__danhmucbtn{
      background-color: #FFAD00;
      $x:55px;
      line-height: calc(#{$x} - 2px);
      padding-left: 15px;
      padding-right: 45px;
      position: relative;
      &:hover{
        background-color: #FFAD00;
      }
      &__txt{
        @extend .fz-14;
        font-family: $font-RobotoCondensed-Bold;
        line-height: (16.8/14);
      }
      &__icon{
        right: 10px;
        $x:20px;
        width: #{$x};
        height: #{$x};
        border-radius: 50%;
        background-color: #ffffff;
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolyline fill='none' stroke='%23000' stroke-width='1.03' points='16 7 10 13 4 7'%3E%3C/polyline%3E%3C/svg%3E");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 80%;
        svg{
          opacity: 0;
        }
        .header__bottom__danhmucbtn[aria-expanded="false"] &{
          background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolyline fill='none' stroke='%23000' stroke-width='1.03' points='16 7 10 13 4 7'%3E%3C/polyline%3E%3C/svg%3E");
        }
        .header__bottom__danhmucbtn[aria-expanded="true"] &{
          background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolyline fill='none' stroke='%23000' stroke-width='1.03' points='4 13 10 7 16 13'%3E%3C/polyline%3E%3C/svg%3E");
        }
      }
    }
  }
}
.mask_menu{
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 300;
  display: none;
  padding: 0;
  background: rgba(0, 0, 0, 0.4);
}
.menuMobile{
  &__bar{
    background: #FFFFFF;
  }
  &__close{

  }
  &__nav{
    .uk-parent{
      position: relative;
    }
    &__icon{
      cursor: pointer;
      width: 20px;
      height: 20px;
      display: inline-block;
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolyline fill='none' stroke='%23000' stroke-width='1.03' points='16 7 10 13 4 7'%3E%3C/polyline%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      top: 10px;
      right: 0;
      .uk-open> &{
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolyline fill='none' stroke='%23000' stroke-width='1.03' points='4 13 10 7 16 13'%3E%3C/polyline%3E%3C/svg%3E");
      }
    }
    li{
      border-top: 1px solid;
      border-top-color: #EBEBEB !important;
      a{
        color: #23304C !important;
        @extend .fz-13;
        font-family: $font-RobotoCondensed-Regular;
        letter-spacing: 0.05em;
        padding: 10px 0;
      }
    }
    >li{
      &:not(:first-child){
        border-top-color: #EBEBEB !important;
      }
      &:first-child{
        border: none;
      }
      &:last-child{
        border-bottom: 1px solid #EBEBEB !important;
      }
      >a{
        font-family: $font-RobotoCondensed-Bold;
        letter-spacing: 0.05em;
        color: #23304C !important;
        @extend .fz-13;
        padding: 10px 0;
      }
    }
  }
}